<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Przychodnie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<style>

    * {
        font-family: DejaVu Serif,sans-serif;;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>

<body>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="/">Logo</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Przychodnie</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="#">Opinie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: red" href="/moje_rezerwacje" th:text="${isLoggedIn ? 'Moje konto' : 'Rezerwuj wizytę'}">Rezerwuj wizytę</a>
        </li>
    </ul>

</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="row p-5">
        <div class="container-fluid">
            <h1>Witamy na stronie MedicalClinics Wrocław.</h1>
            <p>Zapraszamy do zapoznania się naszymi placówkami. Oferujemy Państwu możliwość rezerwacji
                wizyt w naszych placówkach, zarządzania nimi oraz bezpośredni kontakt z lekarzem. Na tej stronie
                mogą Państwo znaleźc wszystkie potrzebne informacje o naszych placówkach.</p>
        </div>
    </div>

    <div class="row p-5 justify-content-center">
        <div id="clinics" class="carousel-fade carousel " data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#clinics" data-slide-to="0" class="active"></li>
                <li data-target="#clinics" data-slide-to="1"></li>
                <li data-target="#clinics" data-slide-to="2"></li>
                <li data-targer="#clinics" data-slide-to="3"></li>
            </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/gf-HGvW-sLUE-uJvQ_centrum-medycyny-inwazyjnej-centrum-kliniczne-w-gdansku-664x0.jpg"
                             alt="Jagiellonska">
                        <div class="carousel-caption">
                            <h3  style="background-color: #535050;">Przy Jagiellońskiej</h3>
                            <p  style="background-color: #535050;">Główna przychodnia MedicalClinics przy ul. Jagiellońskiej 48</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/DM-Centre-for-Brain-Health_600.jpg" alt="Oławska">
                        <div class="carousel-caption">
                            <h3  style="background-color: #535050;">Przy Korczaka</h3>
                            <p style="background-color: #535050;">Filia MedicalClinics przy ul. Korczaka 124</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/rsz_hisham_a_alsager_cardiac_center_by_agi_architects.jpg" alt="Korczaka">
                        <div class="carousel-caption">
                            <h3  style="background-color: #535050;">Przy Lotniczej</h3>
                            <p  style="background-color: #535050;">Największa filia, przy ul. Lotniczej 421</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/rsz_1savage_006_2011.jpg" alt="Lotnicza">
                        <div class="carousel-caption">
                            <h3 style="background-color: #535050;">Przy Oławskiej</h3>
                            <p  style="background-color: #535050;">Filia MedicalClinics przy ul. Oławskiej 1</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#clinics" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#clinics" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

        </div>
    </div>

</body>
</html>