<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Panel kliniki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="css/picker.css" rel="stylesheet">
    <script src="js/picker.js"></script>
</head>

<style>

    * {
        font-family: DejaVu Serif, sans-serif;
    }

    .flex-container {
        border: 2px solid green;
        height: 80vh;
        width: 80vw;
        margin-bottom: 20px;
    }

    thead, tbody {
        display: block;
    }

    tbody {
        display: block;
        height: 300px;
        overflow-scrolling: auto;
        overflow-y: scroll;
    }

</style>

<body>
<div th:fragment="clinic_section">

    <div class="d-flex container-fluid">

        <div class="d-flex flex-row">
            <div class="d-flex flex-column p-5">
                <h1>Nadchodzące wizyty na dzień: <span th:text="${todayDate} ?: ''"></span></h1>
                <div class="container-fluid">
                    <table class="table table-hover table-borderless">

                        <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Specjalność</th>
                            <th scope="col">Lekarz</th>
                            <th scope="col">Zakończone</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${!appt.isEmpty()}" : th:each="apt : ${appt}">
                            <td th:text="${apt.date}"></td>
                            <td th:text="${apt.appointmentTime}"></td>
                            <td th:text="${apt.specialty}"></td>
                            <td th:text="${apt.doctorName}"></td>
                            <td th:text="${apt.isFinished() ? 'TAK' : 'NIE'}"></td>
                            <td><a th:if="${!apt.isFinished()}" href=""
                                   th:href="@{/anuluj_wizyte(apptId=${apt.id}, date=${apt.date}, time=${apt.appointmentTime}, doctorId=${apt.doctorId})}">
                                <button class="btn btn-danger" data-toggle="modal" onclick="">Anuluj wizytę
                                </button>
                            </a>
                            </td>
                            <td><a href=""
                                   th:href="@{/zakoncz_wizyte(apptId=${apt.id}, date=${apt.date}, time=${apt.appointmentTime}, doctorId=${apt.doctorId})}">
                                <button class="btn btn-info" data-toggle="modal"
                                        th:disabled="${apt.isFinished() ? true : false}" onclick="">Zakończ wizytę
                                </button>
                            </a></td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="d-flex flex-row justify-content-md-center">
                        <a class="btn btn-success" href="/pokaz_nadchodzace">Wyświetl</a>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column p-5">
                <h1>Wolne terminy na dzień: <span th:text="${todayDate} ?: ''"></span></h1>
                <div class="container-fluid">
                    <table class="table table-hover table-borderless">

                        <thead>
                        <tr>
                            <th scope="col">Dzień</th>
                            <th scope="col">Godzina</th>
                            <th scope="col">Lekarz</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${!freeTerm.isEmpty()}" : th:each="free : ${freeTerm}">
                            <td th:text="${free.date}"></td>
                            <td th:text="${free.time}"></td>
                            <td th:text="${free.doctor.name + ' ' + free.doctor.lastName}"></td>
                            <td><a href=""
                                   th:href="@{/usun_wolny_termin(freeTermId=${free.id}, date=${free.date}, time=${free.time}, doctorId=${free.doctor.id})}">
                                <button class="btn btn-danger" data-toggle="modal" onclick="">Anuluj termin
                                </button>
                            </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="d-flex flex-row justify-content-md-center">
                        <a class="btn btn-success" href="/pokaz_wolne_terminy">Wyświetl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex container-fluid">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column p-5">
            <h1>Trzy</h1>
        </div>
        <div class="d-flex flex-column p-5">
            <h1>Cztery</h1>
        </div>
    </div>
</div>


</div>

</body>
</html>