<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Lekarze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="css/picker.css" rel="stylesheet">
    <script src="js/picker.js"></script>
</head>

<style>

    * {
        font-family: DejaVu Serif, sans-serif;
    }

    .flex-container {
        border: 2px solid green;
        height: 80vh;
        width: 80vw;
        margin-bottom: 20px;
    }

    thead, tbody {
        display: block;
    }

    tbody {
        display: block;
        height: 300px;
        overflow-scrolling: auto;
        overflow-y: scroll;
    }

</style>

<body>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/przychodnie">Przychodnie</a>
        </li>
        <li sec:authorize="hasRole('USER')" class="nav-item active">
            <a class="nav-link" href="/rezerwacja">Rezerwuj wizytę</a>
        </li>
        <li sec:authorize="hasRole('USER')" class="nav-item">
            <a class="nav-link" href="/moje_rezerwacje">Moje rezerwacje</a>
        </li>
        <li sec:authorize="hasRole('USER')" class="nav-item">
            <a class="nav-link" href="/profil_pacjenta">Mój profil</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            <a class="nav-link" href="/">Lekarze</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" class="nav-item">
            <a class="nav-link" href="/">Wizyty</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="#">Opinie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Wyloguj</a>
        </li>
    </ul>

</nav>


<div class="jumbotron jumbotron-fluid d-flex justify-content-center">

    <div class="d-flex flex-container container-fluid">

        <div class="d-flex flex-row">
            <div class="d-flex flex-column p-5">
                <h1>Lekarze:</h1>
                <div class="container-fluid">
                    <table class="table table-hover table-borderless">

                        <thead>
                        <tr>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Specjalność</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${!doctors.isEmpty()}" : th:each="doc : ${doctors}">
                            <td th:text="${doc.name}"></td>
                            <td th:text="${doc.lastName}"></td>
                            <td th:text="${doc.specialty}"></td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
            <div class="d-flex flex-column p-5">
                <h1>Dodaj wolne terminy:</h1>
                <div class="container-fluid">
                    <form action="/dodaj_termin" method="post">
                        <fieldset>
                            <div class="d-flex flex-column justify-content-md-center p-2">
                                <label for="select">Lekarz:</label>
                            </div>
                            <div class="d-flex flex-column justify-content-md-center p-2">
                                <select id="select" name="select" class="form-check-input d-flex flex-column badge-success rounded"
                                        type="text">
                                    <option th:each="doctor : ${doctors}" th:value="${doctor.id}"
                                            th:text="${doctor.name + ' ' + doctor.lastName}"></option>
                                </select>
                            </div>
                            <div class="d-flex flex-column justify-content-md-center p-2">
                                <label for="days">Ilość dni z wolnymi terminami</label>
                                <input type="number" id="days" name="days">
                            </div>
                            <div class="d-flex flex-column justify-content-md-center p-2">
                                <label for="date">Od dnia:</label>
                                <!--/*@thymesVar id="" type="java.time.LocalDate"*/-->
                                <input class="date-input-native" style="text-align: center" id="date" type="date"
                                       name="date"
                                       th:min="${todayDate}"
                                       max="2020-12-31"
                                       th:value="${date} ?: ${todayDate}">
                                <div id="picker" hidden></div>
                            </div>

                            <div class="d-flex flex-column p-2 alert alert-success">
                                <button type="submit" class="btn btn-success">Dodaj wolne terminy</button>
                            </div>
                        </fieldset>
                    </form>

                    <div class="d-flex flex-column justify-content-md-center">
                        <div th:if="${success}"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</html>