<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Potwierdzenie wizyty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="css/picker.css" rel="stylesheet">
    <script src="js/picker.js"></script>
</head>
<style>
    * {
        font-family: DejaVu Serif,sans-serif;;
    }
</style>
<body>
<div th:fragment="summary">
    <h1 th:text="'Zarezerwowane wizyty dla: ' + ${patient.name} + ' ' + ${patient.lastName}"></h1>
    <h2>Ostatnia rezerwacja: <span th:text="${doctor == null ? 'Brak rezerwacji' : ''}"></span></h2>
    <div th:if="${doctor != null}">
        <h3 th:text="'Wizyta u lekarza: '+ ${doctor} ?: ''"></h3>
        <h3 th:text="'W dniu ' + ${date} + ' o godzinie: ' + ${time} + '.'"></h3>
    </div>

    <div th:if="${doctor != null}">
        <div class="d-flex flex-row p-3">
            <div class="d-flex flex-column p-2 justify-content-sm-between">
                <p>Pokaż wizyty nadchodzące</p>
            </div>
            <div class="d-flex flex-column p-2">
                <a class="btn btn-success" href="/moje_rezerwacje_nadchodzace">POKAŻ</a>
            </div>
            <div class="d-flex flex-column p-2 justify-content-sm-center">
                <p>Pokaż wizyty zakończone</p>
            </div>
            <div class="d-flex flex-column p-2">
                <a class="btn btn-success" href="/moje_rezerwacje_zakonczone">POKAŻ</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Godzina</th>
            <th scope="col">Specjalność</th>
            <th scope="col">Lekarz</th>
            <th scope="col">Przychodnia</th>
            <th scope="col">Miasto</th>
            <th scope="col">Zakończona</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${patient.appointmentSet} != null" : th:each="app : ${patient.appointmentSet}">
            <td th:text="${app.date}"></td>
            <td th:text="${app.appointmentTime}"></td>
            <td th:text="${app.specialty}"></td>
            <td th:text="${app.doctorName}"></td>
            <td th:text="${app.facilityName}"></td>
            <td th:text="${app.facilityCity}"></td>
            <td th:text="${app.isFinished()} ? 'TAK': 'NIE'"></td>
            <td><a th:if="${!app.isFinished()}" href=""
                   th:href="@{/anuluj_rezerwacje(appointmentId=${app.id}, doctorId=${app.doctorId})}">
                <button class="btn btn-danger" data-toggle="modal" onclick="">Anuluj wizytę
                </button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>