<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Mój profil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="css/picker.css" rel="stylesheet">
    <script src="js/picker.js"></script>
</head>

<style>

    * {
        font-family: DejaVu Serif, sans-serif;
    }

    .flex-container {
        border: 2px solid green;
        height: 80vh;
        width: 80vw;
        margin-bottom: 20px;
    }

    thead, tbody {
        display: block;
    }

    tbody {
        display: block;
        height: 300px;
        overflow-scrolling: auto;
        overflow-y: scroll;
    }

</style>

<body>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="#">Logo</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/przychodnie">Przychodnie</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/rezerwacja">Rezerwuj wizytę</a>
        </li>
        <li sec:authorize="hasRole('USER')" class="nav-item">
            <a class="nav-link" href="/moje_rezerwacje">Moje rezerwacje</a>
        </li>
        <li sec:authorize="hasRole('USER')" class="nav-item active">
            <a class="nav-link" href="/profil_pacjenta">Mój profil</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="#">Opinie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger" href="/logout">Wyloguj</a>
        </li>
    </ul>

</nav>


<div class="jumbotron jumbotron-fluid d-flex justify-content-center">


    <div class="d-flex flex-column ml-4 p-4">


        <div class="d-flex flex-md-row justify-content-md-center">
            <h1>Mój profil</h1>
        </div>

    <div class="d-flex flex-md-row justify-content-md-center ml-4 pt-2">
        <div class="d-flex flex-md-row ml-4 pt-2">
            <h4>Dane osobowe: </h4>
        </div>
    </div>

    <div class="d-flex flex-md-row justify-content-md-center ml-4 pt-2">

        <div class="d-flex flex-column p-2">
            <p>Imię i nazwisko:</p>
        </div>
        <div class="d-flex flex-column p-2">
            <p th:text="${patient.name} + ' ' + ${patient.lastName}"></p>
        </div>
    </div>
    <div class="d-flex flex-md-row justify-content-md-center ml-4 pt-2">
        <div class="d-flex flex-column p-2">
            <p>Login użytkownika:</p>
        </div>
        <div class="d-flex flex-column p-2">
            <p th:text="${patient.login}"></p>
        </div>
    </div>
</div>


</body>

<!--<div sec:authorize="hasRole('USER')">-->
<!--    <div class="hide" th:insert="patient :: summary">-->
<!--    </div>-->
<!--</div>-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>