<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Logowanie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<style>

    * {
        font-family: DejaVu Serif, sans-serif;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .jumbotron {
        height: 100vh;
        width: 100vw;
        justify-content: center;
    }

</style>

<body>

<div class="jumbotron jumbotron-fluid justify-content-md-center"
     style="background-image: url(/img/analysis-3707159_1920.jpg)">

    <div class="d-flex container-fluid justify-content-md-center">
        <div class="row-cols-1 p-3">
            <h1 style="color: white; font-family: DejaVu Serif,sans-serif;; font-size: 80px">MediClinic Wrocław</h1>
        </div>
    </div>

    <div class="d-flex container-fluid justify-content-md-center">

        <img src="img/blood-pressure-3312513_1280.png" style="height: 25%; width: 25%;" alt="">

    </div>


    <div class="d-flex container-fluid justify-content-md-center p-5">



        <form  name="registrationForm" method="post" th:object="${newPatient}" th:action="@{/rejestracja}">
            <fieldset class="p-4" style="background: rgba(120,117,113,0.3)">
                <div class="d-flex flex-row text-white justify-content-md-center ">
                    <h1 class="justify-content-sm-center text-white">Rejestracja</h1>
                </div>
                <div class="flex-row justify-content-sm-center p-2">
                    <div th:if="${userExists}" class="alert alert-danger">
                        Ta nazwa użytkownika jest zajęta, spróbuj wybrać inną.
                    </div>
                </div>
                <div class="flex-row justify-content-sm-center p-2">
                    <div th:if="${emptyFields}" class="alert alert-danger">
                        Któreś z pól zawiera błędne dane. <br> Spróbuj ponownie.
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-sm-center p-2">
                    <label class="p-1 text-white" for="username">&#8205
                        &#8205&#8205Login</label>
                    <input type="text" id="username" th:field="*{login}"  name="username"/>
                </div>

                <div class="d-flex flex-row justify-content-sm-center p-2">
                    <label class="p-1 text-white" for="name">Imię</label>
                    <input type="text" id="name" th:field="*{name}"  name="name"/>
                </div>

                <div class="d-flex flex-row justify-content-sm-center p-2">
                    <label for="lastname" class="p-1 text-white">Nazwisko</label>
                    <input class="justify-content-sm-center" style="text-align: center"  type="text" id="lastname" th:field="*{lastName}" name="lastname"/>
                </div>

                <div class="d-flex flex-row justify-content-sm-center p-2">
                    <label class="p-1 text-white" for="password">&#8205&#8205&#8205Hasło</label>
                    <input class="justify-content-sm-center" style="text-align: center" type="password" id="password" th:field="*{password}"  name="password"/>
                </div>

                <div class="d-flex flex-row justify-content-sm-center p-2">
                    <button type="submit" class="btn btn-outline-success btn-light">Zarejestruj</button>
                </div>

                <div class="d-flex flex-row justify-content-md-center p-2">
                    <a class="nav-link justify-content-md-center" href="/">Strona główna</a>
                </div>

            </fieldset>
        </form>


    </div>

</div>

</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="pl" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Panel pacjenta</title>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--    <link href="css/picker.css" rel="stylesheet">-->
<!--    <script src="js/picker.js"></script>-->
<!--</head>-->

<!--<style>-->
<!--    * {-->
<!--        font-family: DejaVu Serif,sans-serif;;-->
<!--    }-->
<!--</style>-->
<!--<body>-->
<!--<h1 th:text="#{label.form.title}">form</h1>-->
<!--<form action="/" th:object="${user}" method="POST" enctype="utf8">-->
<!--    <div>-->
<!--        <label th:text="#{label.user.firstName}">first</label>-->
<!--        <input th:field="*{firstName}"/>-->
<!--        <p th:each="error: ${#fields.errors('firstName')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{label.user.lastName}">last</label>-->
<!--        <input th:field="*{lastName}"/>-->
<!--        <p th:each="error : ${#fields.errors('lastName')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{label.user.email}">email</label>-->
<!--        <input type="email" th:field="*{email}"/>-->
<!--        <p th:each="error : ${#fields.errors('email')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{label.user.password}">password</label>-->
<!--        <input type="password" th:field="*{password}"/>-->
<!--        <p th:each="error : ${#fields.errors('password')}"-->
<!--           th:text="${error}">Validation error</p>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label th:text="#{label.user.confirmPass}">confirm</label>-->
<!--        <input type="password" th:field="*{matchingPassword}"/>-->
<!--    </div>-->
<!--    <button type="submit" th:text="#{label.form.submit}">submit</button>-->
<!--</form>-->

<!--<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>-->
<!--</body>-->
<!--</html>-->